.WorldPanel table {
	table-layout: fixed;
	border-collapse: collapse;
	position: relative;
}

.WorldPanel td {
	/*border: 1px solid black;*/
}

.Cell {
	width: var(--tile-size);
	height: var(--tile-size);
	text-align: center;
	line-height: var(--tile-size);
	position: relative;
}

.Cell img {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}